In [2]:
!pip install sqlalchemy
!pip install pymysql

Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (1.0.0)
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

# just a revisit to know how SQL data can be gathered using pandas and sql db connectors
# my SQL knowledge

1. DB know and used during job
    - MySQL
    - SQL SERVER 2012
    - PostgreSQL
    - OracleDB
    - IBM DB2
    - Azure SQL
2. SQL already known to me
    - DML
    - DDL
    - DCL
    - TCL
    - T-SQL
    - PL/SQL
        1. Stored procedures
        2. Functions
        3. Triggers
        4. Views
        5. Reporting

In [8]:
db_host = '18.136.157.135'
username = 'dm_user_sql1'
user_pass = '37z!49REb&nKnl4pV!vJ'
db_name = 'datamites_sql_practice'

In [9]:
from sqlalchemy import create_engine
import pandas as pd

In [11]:
conn = create_engine('mysql+pymysql://'+username+':'+user_pass+'@'+db_host+'/'+db_name)
conn.table_names()

<ipython-input-11-9189fa5eb1f8>:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  conn.table_names()

['customers', 'orders', 'products']

In [13]:
query = 'SELECT * FROM customers;'
df = pd.read_sql(query, conn)
df.head()

,customer_id,customer_name,segment,country,city,state,postal_code,region
0,AA-10315,Alex Avila,Consumer,United States,Minneapolis,Minnesota,55407,Central
1,AA-10375,Allen Armold,Consumer,United States,Mesa,Arizona,85204,West
2,AA-10480,Andrew Allen,Consumer,United States,Concord,North Carolina,28027,South
3,AA-10645,Anna Andreadi,Consumer,United States,Chester,Pennsylvania,19013,East
4,AB-10015,Aaron Bergman,Consumer,United States,Seattle,Washington,98103,West