# Model and deployment for iris dataset

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('iris.csv', index_col='Id')
df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
Id
1             5.1           3.5            1.4           0.2        0
2             4.9           3.0            1.4           0.2        0
3             4.7           3.2            1.3           0.2        0
4             4.6           3.1            1.5           0.2        0
5             5.0           3.6            1.4           0.2        0

In [4]:
df.loc[df.Species==0, 'Species'] = 'Setosa'
df.loc[df.Species==1, 'Species'] = 'Versicolor'
df.loc[df.Species==2, 'Species'] = 'Virginica'

In [5]:
df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
Id
1             5.1           3.5            1.4           0.2  Setosa
2             4.9           3.0            1.4           0.2  Setosa
3             4.7           3.2            1.3           0.2  Setosa
4             4.6           3.1            1.5           0.2  Setosa
5             5.0           3.6            1.4           0.2  Setosa

In [6]:
X = df.iloc[:,:-1]
y = df.Species

# Now we design the ML model

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)

In [15]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=40)

model.fit(X_train, y_train)

y_predict = model.predict(X_test)

In [9]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [16]:
accuracy_score(y_test, y_predict)

0.9666666666666667

In [17]:
pd.crosstab(y_test, y_predict)

col_0       Setosa  Versicolor  Virginica
Species
Setosa           9           0          0
Versicolor       0          11          1
Virginica        0           0          9

In [18]:
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

      Setosa       1.00      1.00      1.00         9
  Versicolor       1.00      0.92      0.96        12
   Virginica       0.90      1.00      0.95         9

    accuracy                           0.97        30
   macro avg       0.97      0.97      0.97        30
weighted avg       0.97      0.97      0.97        30

# how to save an ML model - just two lines of code

In [19]:
import joblib
joblib.dump(model, 'model.pkl')

['model.pkl']