# __Hypothesis Testing__

In [2]:
from scipy import stats

In [9]:
mar_age_bang = [28,24,27,25,22,25,26,20]

H0: Marriage age in banglore is 30

Ha: Marriage age in banglore is not 30

hypothesized mean : 30

# __1 sample T test__

In [10]:
stats.ttest_1samp(mar_age_bang, 30)

Ttest_1sampResult(statistic=-5.813237796741342, pvalue=0.0006546362524625216)

P-value can be called a threshold to test hypothesis

statistical significance

_< 0.05 -> Reject null hypothesis & accept alternate hypothesis_

_> 0.05 -> Accept null hypothesis & reject alternate hypothesis_

# __Two Sample Independent T-test__

In [11]:
banglore = [35,32,28,30,34,27]
assam = [24,26,28,30,24,25]

# H0 - marriage age in banglore and assam is the same
# Ha - marriage age in banglore and assam is not the same
stats.ttest_ind(banglore, assam)

Ttest_indResult(statistic=2.9445038788874944, pvalue=0.014671995163632505)

-> here we reject the null hypothesis H0 and accept Ha

# __Two Sample Dependent T-test__

In [3]:
egX = [200, 250, 150,300,500]
egY = [100, 260, 130, 150, 480]

# H0 : Response time of egX and egY is same
# Ha: Response time of egx and egY is not same

stats.ttest_rel(egX, egY)

Ttest_relResult(statistic=1.8813567939135083, pvalue=0.1330724158585178)

Here the probability value of our null hypothesis being true is 13% i.e the p-value is 0.13 which is >0.05

So we fail to reject null hypothesis thus we accept H0 and accept Ha

# ___ANOVA (Analysis of Variance)___

In [4]:
coffee = [220,250,130,120,450]

# H0: all drinks response time is same
# Ha: all drinks response time is not same

stats.f_oneway(egX, egY, coffee)

F_onewayResult(statistic=0.2225919148228248, pvalue=0.8036733738879859)

Here the p-value is 80% so we accept H0

we reject Ha